@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

* {
  padding: 0;
  margin: 0;
}

header {
  font-family: 'Open Sans';
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 0px;
}

footer {
  display: flex;
  justify-content: center;
  background-color: #A7A5A5;
  padding: 10px 0px;
  align-items: center;
}

footer h3 {
  font-family: monospace;
  font-weight: lighter;
}

.title-search_container {
  display: flex;
  align-items: center;
  gap: 50px;
}

.company_title {
  display: flex;
  align-items: center;
  line-height: 169%;
  gap: 5px;
  cursor: pointer;
  margin-left: 20px;
}

.company_title .slogan {
  font-size: 17px;
  font-family: monospace;
  display: flex;
  flex-direction: column;
}

.company_title .slogan h3 {
  font-weight: lighter;
}

.company_title img {
  width: 80px;
  height: auto;
}

.search_container {
  padding-left: 10px;
  display: flex;
  border: 1px solid black;
  align-items: center;
  gap: 10px;
}

.search_container #notif_symbol {
  cursor: pointer;
}

.search_container input {
  font-family: 'Open Sans';
  background-color: transparent;
  border: none;
  height: 50px;
  width: 500px;
}

.search_container input:focus {
  outline: none;
}

.nav-account_container {
  margin-right: 20px;
  display: flex;
  align-items: center;
  gap: 20px;
}

.nav-account_container nav {
  display: flex;
  gap: 30px;
  align-items: center;
}

.nav-account_container nav a {
  font-family: monospace;
  font-size: 17px;
  text-decoration: none;
  color: black;
  font-weight: lighter;
}

.nav-account_container #notif_symbol {
  cursor: pointer;
}

.account {
  display: flex;
  align-items: center;
  position: relative;
  gap: 10px;
}

.account a {
  text-decoration: none;
  font-weight: bold;
  color: black;
  border: 1px solid black;
  padding: 10px 20px;
  border-radius: 50px;
  font-weight: bolder;
}

.account #signup {
  background-color: #DB4F4F;
  border: none;
  color: white;
}

main {
  display: flex;
  flex-direction: column;
}

.background_bar {
  display: flex;
  background-color: #A7A5A5;
  height: 50px;
  align-items: center;
  justify-content: center;
}

.background_bar ul {
  font-family: 'Open Sans';
  font-weight: bold;
  display: flex;
  justify-content: center;
  gap: 40px;
  list-style: none;
  font-size: large;
}

.background_bar ul li {
  cursor: pointer;
}

.browse_container {
  padding: 69px 0px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  background-image: url('./img/browse_background.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.browse_container .browse_slogan {
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.browse_container .browse_slogan h1 {
  font-size: 59px;
  color: white;
}

.browse_container .browse_slogan h3 {
  font-size: 25px;
  color: #f1be8b;
}

.browse_container #browse_search_symbol {
  cursor: pointer;
  justify-content: space-between;
  width: 500px;
  display: flex;
  align-items: center;
  border: 1px solid black;
  height: 60px;
  border-radius: 50px;
  padding-right: 20px;
  background-color: #DB4F4F;
}

.browse_container #browse_search_symbol input {
  border-radius: inherit;
  margin-right: 10px;
  font-family: 'Open Sans';
  font-weight: bolder;
  background-color: white;
  border: none;
  height: inherit;
  width: inherit;
  padding-left: 20px;
  font-size: 17px;
}

.browse_container #browse_search_symbol input:focus {
  outline: none;
}

section {
  font-family: monospace;
  padding: 20px 40px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

section ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

section ul li {
  border: 1px solid #A7A5A5;
}

.product a {
  padding: 10px;
  gap: 10px;
  display: flex;
  flex-direction: column;
  text-decoration: none;
}

.product img {
  width: auto;
  height: 200px;
}

.product .product_name {
  color: black;
}