@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

* {
    margin: 0;
    padding: 0;
    background-color: black;
    color: whitesmoke;
}

.web_container {
    font-family: 'Roboto Mono';
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 40px;
}

header {
    display: flex;
    padding: 20px 20px;
    font-size: 20px;
    border: solid whitesmoke;
    justify-content: space-between;
}

.my_portfolio {
    font-family: monospace;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

section {
    border: solid whitesmoke;
    padding: 20px;
}

section h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

#section_info {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#section_info .info_container {
    display: flex;
    align-items: center;
    gap: 20px;
}

#section_socials .socials {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

#section_socials .socials a {
    text-decoration: none;
}